.timeline {
  display: flex;
  width: 100%;
  height: 2rem;
}

.timelineFront {
  width: 13rem;
  min-width: 13rem;
  position: relative;
}

.timelineBack {
  width: 100%;
  position: relative;
}

.timelineLocators {
  position: relative;
  top: 0rem;
  width: 100%;
  height: 1rem;
  overflow: hidden;
  border-bottom: 1px solid hsl(217 19% 27%);
}

.timelineRuler {
  position: relative;
  top: 0rem;
  width: 100%;
  height: 1rem;
  overflow: hidden;
}

.timelineTick {
  position: absolute;
  border-left: 1px solid hsl(215 20.2% 45.1%);
  height: 0.5rem;
}

.timelineMajorTick {
  position: absolute;
  border-left: 1px solid hsl(215 20.2% 85.1%);
  height: 1rem;
}

.timelineTickLabel {
  top: 0;
  left: 0;
  font-size: 0.75rem;
  margin-left: 0.2rem;
  color: hsl(215 20.2% 85.1%);
}

.loop {
  position: absolute;
  height: 100%;
  background-color: hsla(210, 40%, 98%, 0.1);
}

.locator:hover {
  cursor: col-resize;
}