.timeline {
  display: flex;
  width: 100%;
  height: 2rem;
}

.timelineFront {
  width: 13rem;
  min-width: 13rem;
  position: relative;
}

.timelineBack {
  width: 100%;
  position: relative;
  background-color: hsl(var(--muted));
}

.timelineLocators {
  position: relative;
  top: 0rem;
  width: 100%;
  height: 1rem;
  overflow: hidden;
  border-bottom: 1px solid hsl(var(--border));
}

.timelineRuler {
  position: relative;
  top: 0rem;
  width: 100%;
  height: 1rem;
  overflow: hidden;
}

.timelineTick {
  position: absolute;
  border-left: 1px solid hsl(var(--muted-foreground));
  height: 0.5rem;
}

.timelineMajorTick {
  position: absolute;
  border-left: 1px solid hsl(var(--foreground));
  height: 1rem;
}

.timelineTickLabel {
  top: 0;
  left: 0;
  font-size: 0.75rem;
  margin-left: 0.2rem;
  color: hsl(var(--muted-foreground));
}

.loop {
  position: absolute;
  height: 100%;
  background-color: hsla(var(--accent), 0.2);
}

.locator:hover {
  cursor: col-resize;
}